@font-face {
  font-family: sans;
  src: url(https://raw.githubusercontent.com/artafp/artafp/main/FontsFree-Net-ir_sans.ttf);
}

body {
  width: 100%;
  margin: auto;
  background-color: #fffffff2;
  color: #2f2f44f2;
  font-family: sans;
}
.barlist li {
  margin-top: 10px;
  cursor: pointer;
}
.containerBlog h1 {
  font-size: 26px !important;
}
.containerBlog h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 26px !important;
}
.containerBlog h3 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px !important;
}
.containerBlog h4 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 22px !important;
}
.containerBlog h5 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px !important;
}
.containerBlog h6 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px !important;
}
.containerBlog pre {
  direction: ltr;
  border-radius: 10px;
  width: 100%;
  height: auto;
  padding: 3%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.486);
  background-color: rgba(241, 241, 241, 0.616);
  font-weight: bold;
  border: 2px solid white;
}

.containerBlog table {
  direction: ltr;
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  border-color: #dee2e6;
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
}
.containerBlog img {
  width: 100%;
  border-radius: 20px;
}
.containerBlog video {
  width: 100%;
  border: 5px solid #2cbcfff2;
  border-radius: 20px;
}
.containerBlog audio {
  width: 100%;
}
.containerBlog iframe {
  width: 100%;
  border: 5px solid #2cbcfff2;
  border-radius: 20px;
}

.h1 {
  font-size: 24px;
  color: #2f2f44f2;
  margin-top: 10px;
}
.myContainerMain {
  direction: rtl;
  width: 90%;
  height: auto;
  margin: auto;
  padding-right: 2.5%;
  padding-left: 2.5%;
}
.myContainer {
  direction: rtl;
  width: 100%;
  height: auto;
  margin: auto;
  padding-right: 2.5%;
  padding-left: 2.5%;
  display: flex;
  justify-content: space-between;
}
.myContainer404 {
  direction: rtl;
  width: 100%;
  height: auto;
  margin: auto;
  padding-top: 100px;
  padding-right: 2.5%;
  padding-left: 2.5%;
}

.Header {
  direction: rtl;
  width: 100%;
  height: auto;
  background-color: #fffffff2;
  padding: 1%;
  margin: auto;
  padding-right: 2.5%;
  padding-left: 2.5%;
  display: flex;
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.114);
  justify-content: space-between;
}
.barlist {
  width: 30%;
  height: auto;
  padding-right: 10px;
  padding-left: 10px;
}
.containerBlog {
  width: 70%;
  height: auto;
  padding-top: 30px;
  padding-right: 10px;
  padding-left: 10px;
}
.imageBlogTitle {
  width: 100%;
  border: 5px solid #2f2f44f2;
  border-radius: 20px;
}

.HeaderBarlist {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 5%;
  border-bottom: 3px solid #2f2f44f2;
  background-color: rgba(231, 244, 255, 0.356);
}

.Footer {
  border-top: 5px rgba(0, 0, 0, 0.356) solid;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: auto;
  padding-top: 40px;
  margin-top: 30px;
  padding-bottom: 10px;
}

.imgFooter {
  width: 50%;
  height: auto;
  border-radius: 100%;
}
.textFooter {
  width: 25%;
  height: auto;
}
.powerbyFooterM {
  width: 40%;
  height: auto;
}
.powerbyFooter {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pages {
  width: 100px;
  height: 100px;
  margin: 10px;
}
.cloud {
  width: 250px;
  height: 100px;
  margin: 10px;
}
.react {
  width: 300px;
  height: 100px;
  margin: 10px;
}
.axios {
  width: 300px;
  height: 50px;
  margin: 10px;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerResume h1 {
  font-size: 26px !important;
}
.containerResume h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 26px !important;
}
.containerResume h3 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px !important;
}
.containerResume h4 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 22px !important;
}
.containerResume h5 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px !important;
}
.containerResume h6 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px !important;
}
.containerResume pre {
  direction: ltr;
  border-radius: 10px;
  width: 100%;
  height: auto;
  padding: 3%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.486);
  background-color: rgba(241, 241, 241, 0.616);
  font-weight: bold;
  border: 2px solid white;
}

.containerResume table {
  direction: ltr;
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  border-color: #dee2e6;
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
}
.containerResume img {
  max-width: 100%;
  min-width: auto;
  border-radius: 20px;
}
.containerResume video {
  width: 100%;
  border: 5px solid #2cbcfff2;
  border-radius: 20px;
}
.containerResume audio {
  width: 100%;
}
.containerResume iframe {
  width: 100%;
  border: 5px solid #2cbcfff2;
  border-radius: 20px;
}
.containerResume {
  margin-top: 50px;
  margin-bottom: 50px;
}
.blogs {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}
.blogs img {
  height: 250px;
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card {
  width: 45.5%;
  margin: 1%;
  border-radius: 10px;
}
@media only screen and (max-width: 1100px) {
  .barlist {
    display: none;
  }
  .containerBlog {
    width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .barlist {
    display: none;
  }
  .containerBlog {
    width: 100%;
  }
  .card {
    width: 100%;
    margin: 1%;
  }
  .myContainerMain {
    width: 100%;
  }
  .Footer {
    display: block;
    flex-wrap: wrap;
    justify-content: none;
  }
  .textFooter {
    width: 100%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  .powerbyFooterM {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: auto;
    margin-top: 50px;
  }
  .copyright {
    padding-left: 10px;
    padding-right: 10px;
  }
  #hap {
    display: none;
  }
}
